body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width:100%;

}

header{
  position: fixed;
  background: #22242A;
  padding: 20px;
  width:100%;
  height: 30px;
  animation: transitionIn 0.15s;
}

.left_area h3{
 color: #fff;
 margin:0;
 text-transform: uppercase;
 font-size: 22px;
 font-weight: 900;
 animation: transitionIn 0.15s;
}


.left_area span{
  color: #cc2b5e;
}

.logout_btn{
  padding: 5px;
  background:linear-gradient(to right, #cc2b5e ,#753a88);
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right:40px;
  font-size: 20px;
  font-weight:600;
  color:#fff;
  transition: 0.5s;
  border-radius: 20px;
}

.logout_btn:hover{
  background: #0D9DBB;
}
  
label #sidebar_btn{
  z-index: 1;
  color: #fff;
}

.sidebar{
  background: #2F323A;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left:0;
  width: 270px;
  height: 100%;
  align-items: center;
  overflow-y: auto;
  animation: transitionIn 0.15s;
}

.sidebar .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom:10px;
  display: block; margin-left: auto; margin-right: auto /* am centrat imaginea*/
}

.sidebar h3{
  color:#ccc;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center; /* am centrat imaginea*/
}


.sidebar a{
  color:#fff;
  display: block;
  width:100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 25px;
  box-sizing: border-box;
  transition: background-color 1000ms linear;
}

.sidebar a:hover{
  background: #19B3D3;
}


.sidebar i{
  padding-right: 10px;
}

.content{
  z-index: -99;
  position: absolute;
  height:100%;
  width:100%;
   background-image: linear-gradient(to right, #cc2b5e ,#753a88);
  background-position: center;
}

/* /* .presence{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #ffc400;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 5px;
    width: 25vw;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.presenceform-group{
  margin-bottom: 1em;
  transition:all .3s;
}

.form-label{
  margin-left: 30px;
  font-size:1em;
  color:rgb(0, 0, 0);
  display: inline-block;
  opacity: 1;
  transform: translateY(-1.25em);
  transform-origin:0;
  transition:all .3s;
  margin:auto;
}

.form-control{
  box-shadow: none;
  background-color: rgba(12, 9, 182, 0.02);
  border-radius: 0px;
  border-color: #ccc;
  border-style: none none solid none;
  width: 150%;
  transition:all .5s;
  padding:5px;
}

.form-control::placeholder{
  color:blue; */

  .container{
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);
      width: 400px;
      max-width: 100%;
      animation: transitionIn 0.15s;
    }


    .header{
      background-color: #f7f7f7;
      border-bottom: 1px solid #f0f0f0;
      padding: 20px 40px;
    }
    
    .header h2 {
      margin: 0;
    }
    
    .form {
      padding: 30px 40px;
    }

    .form-control {
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
    }

    .form-control label {
      display : inline-block;
      margin-bottom: 5px;
    }

    .form-control input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
    }

    .form button{
      background:#2E8B57;;

      border-radius: 4px;
      color: #fff;
      display: block;
      font-family: inherit;
      font-size: 16px;
      padding: 10px;
      width: 100%;
      outline: none;
      cursor: pointer;
      transition: 0.5s;
    }
    
    .form button:hover{
      background: white;
      background-color: purple;
    }






    






    .content .file__upload {
      width: 400px;
      height: 445px;
      margin: 130px 350px ;
      border-radius: 15px;
      box-sizing: border-box;
      box-shadow: 0 0 5px rgba(0,0,0,.3);
      background-color: white;
      animation: transitionIn 0.15s;
  }
  
  .file__upload .header-box {
      width: 100%;
      height: 145px;
      background: #2E8B57;;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-radius: 5px 5px 0 0;
  }
  
  .file__upload .header-box p {
      color: #FFF;
  }
  
  .file__upload .header-box p i.fa {
      margin-right: 10px;
  }
  
  .file__upload .header-box p span {
      font-size: 2rem;
      font-weight: 100;
  }
  
  .file__upload .header-box p span span {
      font-weight: 600;
  }
  
  .file__upload .body-formular {
      background: #FFF;
      width: 100%;
      height: calc(100% - 145px);
      border-radius: 0 0 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
  
  }
  
  .file__upload .body-formular input[type="file"] {
      opacity: 0;
  }
  
  .file__upload .body-formular i.fa {
      color: #d3d3d3;
      margin-bottom: 20px;
      cursor: pointer;
  }
  
  .file__upload .body-formular p strong {
      color: #4db6ac;
  }
  
  .file__upload .body-formular p span {
      color: #4db6ac;
      text-decoration: underline;
  }

  @keyframes transitionIn{
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
  
    }
  }