body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #348aa7 ,#525174);
  
  }
  
header{
    position: fixed;
    background: #22242A;
    padding: 20px;
    width:100%;
    height: 30px;
}
  
.left_area h3{
   color: #fff;
   margin:0;
   text-transform: uppercase;
   font-size: 22px;
   font-weight: 900;
}
  
  
.left_area span{
    color: #348aa7;
}
  
.logout_btn{
    padding: 5px;
    background-image: linear-gradient(to right, #348aa7 ,#525174);
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right:40px;
    border-radius:2px;
    font-size: 15px;
    font-weight:600;
    color:#fff;
    transition: 0.5s;
}
  
.logout_btn:hover{
    background: #0D9DBB;
}
  
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
  }
  
.sidebar{
    background: #2F323A;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left:0;
    width: 270px;
    height: 100%;
    align-items: center;
    overflow-y: auto;
}
  
.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom:10px;
    display: block; margin-left: auto; margin-right: auto /* am centrat imaginea*/
}
  
.sidebar h4{
    color:#ccc;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center; /* am centrat imaginea*/
}
  
.sidebar a{
    color:#fff;
    display: block;
    width:100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 25px;
    box-sizing: border-box;
    transition: background-color 1000ms linear;
}
  
  .sidebar a:hover{
    background: #19B3D3;
}
  
  
.sidebar i{
    padding-right: 10px;
}
  
.mainul{
    z-index: -99;
    margin-top: 70px;
    margin-left: 130px;
    position: absolute;
    height:100%;
    width:100%;
    background-image: linear-gradient(to right, #348aa7 ,#525174);
    background-position: center;
}
  
.containerClase{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 20px auto;
}

.containerClase .boxGrupa{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.containerClase .boxGrupa .iconCurs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2E8B57;
    transition: 0.5s;
    z-index: 1;
}

.containerClase .boxGrupa:hover .iconCurs{
    top:20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.containerClase .boxGrupa .iconCurs .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}


.containerClase .boxGrupa:hover .iconCurs .fa{
    font-size: 40px;
}

.containerClase .boxGrupa .content{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.containerClase .boxGrupa:hover .content{
    top: 100px;
    opacity: 1;
}

.containerClase .boxGrupa .content h3{
    margin: 0 0 10px; 
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.containerClase .boxGrupa .content p{
    margin: 0;
    padding: 0;
    color: #fff;

}


@media(max-width:1500px) {
    .mainul{
        width: 100%;
        height: max-content;
        padding: 20px;
        box-sizing: border-box;
    }

    .containerClase{
        position: relative;
        width: 250px;
        height: 500px;
        transition: 0.5s;
        margin-left: 170px;
    }

    @media(max-width:750px) {


        .mainul{
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
        }
    
        .containerClase{
            position: relative;
            width: 250px;
            height: 500px;
            margin-left: 85px;
            transition: 0.5s;

        }

        .containerClase .boxGrupa{
            position: relative;
            width: calc(200px - 15px);
            height: calc(120px - 15px);
            background: #000;
            float:none;
            margin: 50px;
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 10px;
        }

        
    
    }
}