html{
  background-color: #753a88;
  background-image: -webkit-linear-gradient(right, #348aa7 ,#525174);

}
body{

  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

header{
  top:0%;
  left: 0%;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width:100%;
  height: 5vh;
}

header .left_area h3{
  color: #fff;
  margin:0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  float: left;
}


header .left_area span{
  color: #348aa7;
}

header .right_area{
  margin-top: -2.5vh;
  margin-bottom: auto;
}

header .right_area .logout_btn{
padding: 3px;
background:linear-gradient(to right, #348aa7 ,#753a88);
text-decoration: none;
float: right;
margin-right: 25px;
font-size: 20px;
font-weight:600;
color:#fff;
transition: 0.5s;
border-radius: 20px;
}

header .right_area .logout_btn:hover{
  background: #348aa7;
}


body .sidebar{
  background: #22242A;
  margin-top: 60px;
  padding-top: 30px;
  position: fixed;
  left:0;
  height: 100%;
  width: 270px;
  align-items: center;
  overflow-y: auto;
}

.sidebar .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom:10px;
  display: block; margin-left: auto; margin-right: auto /* am centrat imaginea*/
}

.sidebar h3{
  color:#ccc;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center; /* am centrat imaginea*/
  animation: transitionIn 0.15s;
}

.sidebar a{
  color:#fff;
  display: block;
  width:100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 25px;
  box-sizing: border-box;
  transition: background-color 1000ms linear;
  animation: transitionIn 0.15s;
}

.sidebar a:hover{
  background: #19B3D3;
}


.sidebar i{
  padding-right: 10px;
}

h1 {
  font-size:3em;
  font-weight: 300;
  line-height:1em;
  text-align: left;
  color: #4DC3FA;
  margin-top: 120px;
  margin-left: 285px;
  animation: transitionIn 0.15s;
}

.content{
  
  z-index: -99;
  position: absolute;
  height:100%;
  width:100%;
  background-position: center;
}

  
.styled-table {
  margin-top: 100px;
  margin-left: 285px;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  max-width: 50vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  animation: transitionIn 0.15s;
}
  
  .styled-table thead tr {
      background-color: #114b5f;
      color: #ffffff;
      text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  
  .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }
  
   .styled-table tbody tr {
      background-color: #1a936f;
  }
  
  .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr.active-row {
      font-weight: bold;
      color: #009879;
  }
  .blue { color: #3d056b; }
  .yellow { color: #FFF842; }
@media(max-width:1250px) {

  h1{
    margin-left: 15px;
  }
html{
    background-color: #348aa7;
    background-image: unset;
}

body{
    overflow: visible;
}

.content{
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}

body .sidebar {
  height: auto;
  width: 120vw;
  position: inherit;
  margin-left: -10px;
  margin-right: -50px;
}
.sidebar a {
  float: left;
  text-align: left;
  float: none;
}
div.content {margin-left: 0;}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom:10px;
    margin-left: 30px;
    align-self: left;
    margin-right: auto /* am centrat imaginea*/
}
  
.sidebar h3{
    color:#ccc;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left; /* am centrat imaginea*/
    animation: transitionIn 0.15s;
}

.styled-table{
  box-shadow: none;
  margin-top: 10px;
  margin-left: 10px;
}
.styled-table thead{
      display: none;
    }
  
    .styled-table, .styled-table tbody, .styled-table tr, .styled-table td{
      display: block;
      width: 300px;
    }
    .styled-table tr{
      margin-bottom:15px;
    }
    .styled-table td{
      padding-left: 0.5%;
      text-align: left;
      position: relative;
      word-break: break-all;
    }
    .styled-table td::before{
      content: attr(data-label);
      position: absolute;
      left:0;
      width: 50%;
      padding-left:15px;
      font-size:15px;
      font-weight: bold;
      text-align: left;
    }
  
  }
  
  @media(max-width:300px){
    body .sidebar {
      height: auto;
      width: 500px;
      position: inherit;
      margin-left: -10px;
      margin-right: -50px;
    }
    
  }


  @keyframes transitionIn{
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);

    }
  }
